.nav-bg {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(9,9,121,0) 100%);
}

.footer-bg {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(9,9,121,0) 100%);
}

.slick-slide {
    height: 500px;
}

.slick-slide div {
    height: 100%;
}

li .slick-active {
    color: white !important
}

.lock-position {
    overflow: hidden;
}

.slick-prev {
    left: -40px
}

.slick-next {
    right: -40px;
}

.bounce-in-right {
    animation: bounce-in-right 2s ease;
  }
  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  