@font-face {
    font-family: 'CheddarGothicSansTwo';
    src:    url('../public/assets/fonts/CheddarGothicSansTwo.woff2') format('woff2'),
            url('../public/assets/fonts/CheddarGothicSansTwo.woff') format('woff'),
            url('../public/assets/fonts/CheddarGothicSansTwo.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}